<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <title>{{=response.title}}</title>

    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />
    <link href="{{=URL('static', 'css/bootstrap.min.css')}}" rel="stylesheet" media="screen">
    <link href="{{=URL('static', 'css/layout.css')}}" rel="stylesheet" media="screen" />
</head>

<body>

<div class="row-fluid">
    <div class="span12" id="header">
        <a href={{=URL("index")}} alt="ProtestaBrasil" title="ProtestaBrasil">
            <img src="{{=URL('static', 'images/protesta-brasil-logotipo.png')}}" alt="" id="logo">
        </a>

        <div class="span6" id="navigate">
            <ul>
            <li>navegue por:</li>
            <li><a href="#">TWEETS + UPDATES</a></li>
            <li><a href="#">IMAGENS</a></li>
            <li><a href="#">VÍDEOS</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12" id="hashfield">
        <div class="span2 hash_title">
            Hashtags principais sendo monitoradas:
        </div>

        <div class="span10 hash_body">
            <a href="#" class="hashtags">#SemViolência</a> <a href="#" class="hashtags">#VemPraRua</a> <a href="#" class="hashtags">#protestorj</a> <a href="#" class="hashtags">#ChangeBrazil</a> <a href="#" class="hashtags">#protestorio</a> <a href="#" class="hashtags">#ProtestaBrasil</a> <a href="#" class="hashtags">#BrasilAcordou</a> <a href="#" class="hashtags">#protestobr</a> <a href="#" class="hashtags">#MOBajuda</a> <a href="#" class="hashtags">#TodaRevoluçaoComeçaComUmaFaísca</a> <a href="#" class="hashtags">#NãoSãoSó20Centavos</a> <a href="#" class="hashtags">#VemPraJanela</a> <a href="#" class="hashtags">#SemViolência</a>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div class="span12" id="count_info">
        <div class="span2 count_title">
            TUDO
        </div>

        <div class="span10 count_body">
            < você está vendo todas as atualizações<br />
            <b>0000 atualizações até o momento</b>
        </div>
    </div>
</div>

<div id="tweets_timeline">
    <!-- twitts inside here -->
</div>
    <br>
    <center>
    <button id="more_tweets" type="button" class="btn btn-large btn-primary btn-success btn_align">{{=T("Load more updates")}}</button>
    </center>

<div class="clearfix"></div>

<div class="row-fluid">
    <div id="description_boxes">
        <div class="span6 desc_box">
            <h1>CONHEÇA</h1>
            <p>Mussum ipsum cacilds, vidis litro abertis. Consetis adipiscings elitis. Pra lá , depois divoltis porris, paradis. Paisis, filhis, espiritis santis. Mé faiz elementum girarzis, nisi eros vermeio, in elementis mé pra quem é amistosis quis leo. Manduma pindureta quium dia nois paga. Sapien in monti palavris qui num significa nadis i pareci latim. Interessantiss quisso pudia ce receita de bolis, mais bolis eu num gostis.

            Suco de cevadiss, é um leite divinis, qui tem lupuliz, matis, aguis e fermentis. Interagi no mé, cursus quis, vehicula ac nisi. Aenean vel dui dui. 
            </p>

        </div>

        <div class="span4 offset1 feedback">
            <button class="btn btn-large btn-block btn-primary btn-warning" type="button" onClick="showClassicWidget()">{{=T('Feedback & Report Error')}}</button>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div id="footer">
        <div class="span12">
            <center>#protestabrasil - copyleft</center>
        </div>
    </div>
</div>



 <!--            <div class="addthis_toolbox addthis_default_style ">
                <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                <a class="addthis_button_tweet"></a>
                <a class="addthis_button_pinterest_pinit"></a>
                <a class="addthis_counter addthis_pill_style"></a>
            </div>
            <div class="a2a_kit a2a_default_style">
            <span class="a2a_dd">Compartilhe:</span>
            <a class="a2a_button_facebook"></a>
            <a class="a2a_button_google_plus"></a>
            <a class="a2a_button_twitter"></a>
            <span class="a2a_divider"></span>
            <a class="a2a_dd" href="http://www.addtoany.com/share_save">Outras redes</a>
            </div>
            <script type="text/javascript" src="http://static.addtoany.com/menu/page.js"></script> -->


    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src={{=URL("static","js/jquery.min.js")}}><\/script>')</script>
    <script src='{{=URL("static","js/urlize.js")}}'></script>

    <script>
        ;(function($){
            var loadingURL = '{{=URL("static","images/ajax-loader.gif")}}',
                $body = $('body'),
                hashtag = '',
                $tweets_timeline = $("#tweets_timeline"),
                $more_tweets = $("#more_tweets");

            sendAjax = function(current_id, hashtag, home_data) {
                $tweets_timeline.append('<br><center><img id="loading" src="' + loadingURL + '" alt=""></center>');

                $.ajax({
                    type: "GET",
                    url: '{{=URL(r=request,f="call",args=["json","load_tweets"])}}',
                    data: {current_id: current_id, hashtag: hashtag, home_data: home_data},
                    dataType: "json",
                    success: function(data){

                        var html = '',
                            text = '';
                            lenData = data.length - 1;
                        for( var i = 0; i <= lenData; i++ ) {
                            text = urlize(data[i]["text"], {nofollow: true, autoescape: true, target: "_blank"});
                            html += '<div class="row-fluid"><div class="span12 tweet_body"><div class="span1"><img src="' + data[i]["avatar"] + '" alt="" class="tweet_avatar"></div><div class="span11 tweet_content"><b>' + data[i]["user"] + '</b> <a href="http://twitter.com/' + data[i]["username"] + '" target="_blank" class="username_link" >@' +data[i]["username"] + '</a><span class="tweet_time">' + data[i]["created_at"] + ' - ' + data[i]["location"] + '</span><p>' + text + '</p></div></div></div>';
                        }
                        $("#loading").remove();
                        $tweets_timeline.append(html);
                        $more_tweets.attr("data-currentid", data[lenData]["id_str"]);

                    },
                    error: function(data){
                        console.log(data);
                    }
                });
            }


            // call ajax
            var index_hastags = "";
            $(".hashtags").each(function(){
                index_hastags += "+" + $(this).text();
            });
            // console.log(index_hastags);
            sendAjax(0, index_hastags, true);

            $("#more_tweets").on("click", function() {
                var current_id = $(this).attr("data-currentid");
                hashtag = $body.data('hashtags');

                sendAjax(current_id, hashtag);
            });

            $(".hashtags").on("click", function(event) {
                event.preventDefault();
                var text = $(this).text();
                $(".count_title").text(text);
                $body.data('hashtags', text)
                hashtag = $body.data('hashtags');
                $tweets_timeline.empty();

                sendAjax(0, hashtag);
            });

        })(jQuery);

    </script>


<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/ApExOGxBxtiQbPfA14eAvA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A function to launch the Classic Widget -->
<script>
UserVoice = window.UserVoice || [];
function showClassicWidget() {
  UserVoice.push(['showLightbox', 'classic_widget', {
    mode: 'full',
    primary_color: '#a9cc62',
    link_color: '#007dbf',
    default_mode: 'feedback',
    forum_id: 211520,
    support_tab_name: 'Reporte um erro',
    feedback_tab_name: 'Dê uma ideia!'
  }]);
}
</script>
</body>
</html>