{{extend 'layout.html'}}

    <div id="tweets_timeline" class="container">
        <!-- twitts inside here -->
    </div>
    <br>
    <br>
    <br>
    <button id="more_tweets" class="btn btn-success">{{=T("Load more updates")}}</button>


<script>
    ;(function($){
        var loadingURL = '{{=URL("static","images/ajax-loader.gif")}}',
            $tweets_timeline = $("#tweets_timeline"),
            $more_tweets = $("#more_tweets"),

        sendAjax = function(current_id) {
            $tweets_timeline.append('<img id="loading" src="' + loadingURL + '" alt="">');

            $.ajax({
                type: "GET",
                url: '{{=URL(r=request,f="call",args=["json","load_tweets"])}}',
                data: {current_id: current_id},
                dataType: "json",
                success: function(data){

                    var html = '',
                        lenData = data.length - 1;
                    for( var i = 0; i <= lenData; i++ ) {
                        html += '<img src="' + data[i]["avatar"] + '" alt=""><h5>' + data[i]["user"] + ' ' + data[i]["created_at"] +' - ' + data[i]["location"] + '</h5><h6>' + data[i]["text"] + '</h6>';
                    }
                    $("#loading").remove();
                    $tweets_timeline.append(html);
                    $more_tweets.attr("data-currentid", data[lenData]["id_str"]);

                },
                error: function(data){
                    console.log(data);
                }
            });
        }


        // call ajax
        sendAjax(0);

        $("#more_tweets").on("click", function() {
            var current_id = parseInt($(this).attr("data-currentid"),10);
                console.log(current_id);

            sendAjax(current_id);
        });

    })(jQuery);

</script>